body{
    background-color: #F875AA !important;
}
h1{
    font-size: 26px;
    color: #FFDFDF;
    
}

.subjudul{
    color: #FFDFDF;
}

.penulis{
    font-size: 15px;
    color: #FFDFDF;
    
}

p span{
    color: #AEDEFC;
}

#Judul{
    background-color: #FFF6F6;
    color: #F875AA;
    border-radius: 15%;
    padding: 5px;
    text-align: center;
}
body{
    background-color: aqua;
}

p{
    background-color: #AEDEFC;
    color: white;
}