body{
    background-color: #F875AA !important;
}
h1{
    font-size: 26px;
    color: #FFDFDF;
    
}

.subjudul{
    color: #FFDFDF;
}

.penulis{
    font-size: 15px;
    color: #FFDFDF;
}

p span{
    color: #AEDEFC;
}
body{
    background-color: aqua;
}